a:hover{
  color: #1687a7;
}

body{
  background-color: #f4f9f9;
  font-size: 22px;
  font-family: cursive;
}

h1{
  text-align: center;
}

hr{
  border-style: none;
  border-top-style: dotted;
  background-color: none;
  border-width: 5px;
}
